@media (max-width: 850px) { .button { background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%) !important; } }

.slideIn { animation: slideIn 1s forwards; }

@keyframes slideIn { from { transform: translateX(-50px);
    opacity: 0; }
  to { transform: translateX(0);
    opacity: 1; } }

.container { box-sizing: border-box; max-width: 1200px; padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: auto; }

.brand-color { color: #f7fc0e; }

.button { background: #f7fc0e; color: #030303; width: 245px; height: 56px; font-weight: 600; display: flex; align-items: center; justify-content: center; border-radius: 6px; text-transform: uppercase; letter-spacing: 8%; }

.button:hover { background: #ffffff; transition: .2s; }

.border { --borderWidth: 4px; position: relative; background: #000; border-radius: var(--borderWidth); }

.border::after { content: ''; position: absolute; top: calc(-1 * var(--borderWidth)); left: calc(-1 * var(--borderWidth)); height: calc(100% + var(--borderWidth) * 2); width: calc(100% + var(--borderWidth) * 2); background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); border-radius: calc(2 * var(--borderWidth)); z-index: -1000; animation: animatedgradient 2s ease alternate infinite; background-size: 300% 300%; }

@keyframes animatedgradient { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }

.rank { width: 101px; height: auto; z-index: 1000; }

.rank .box-rank { background: black; border-radius: 6px; width: 52px; height: 20px; padding: 6px 24px; display: flex; justify-content: center; align-items: center; text-transform: uppercase; }

.rank .border::after { border: 2px !important; }

.padding { padding-top: 50px; padding-bottom: 50px; }

.background { background-image: linear-gradient(45deg, rgba(224, 37, 206, 0.2), rgba(74, 237, 82, 0.1), rgba(189, 36, 230, 0.2), rgba(224, 37, 206, 0.2)); }

body { margin: 0px; padding: 0px; }

h1, h2, h3, h4, ul, p, blockquote, dd { margin: 0px; }

ul { padding: 0px; list-style: none; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; height: auto; display: block; }

body { background-color: #030303; color: #ffffff; font-family: "Inter", sans-serif; }

header { font-family: "Inter", sans-serif; font-weight: 500; font-size: 24px; align-items: center; }

header nav { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

header nav .logo { display: flex; flex-direction: row; align-items: center; justify-content: center; }

header nav .logo img { margin-top: 20px; }

header nav .logo h3 { font-family: "Jura", sans-serif; font-size: 32px; }

header nav ul { display: flex; flex-direction: row; gap: 25px; }

header nav ul a { font-weight: 500; font-size: 20px; line-height: 24px; }

@media (max-width: 850px) { header nav ul { display: none; } }

.introducao { display: grid; height: 500px; grid-template-columns: 1fr 1fr; grid-auto-flow: row; --borderWidth: 4px; grid-gap: 10px; padding-top: 20px; }

.introducao .introducao-conteudo { display: flex; flex-direction: column; gap: 10px; }

.introducao .introducao-conteudo h1 { font-size: clamp(40px, 5vw, 56px); line-height: 1.2; }

.introducao .introducao-conteudo p { font-size: clamp(16px, 2vw, 20px); line-height: 1.5; }

.introducao .introducao-conteudo .button { margin-top: 20px; margin-left: 5px; font-size: 20px; font-weight: 600; }

@media (max-width: 850px) { .introducao { gap: 20px; grid-template-columns: 1fr; text-align: start; justify-items: center; margin-bottom: 40px; }
  .introducao .introducao-conteudo { margin-bottom: 30px; } }

.introducao-card { max-width: 592px; max-height: 481px !important; border-radius: 6px; background-image: linear-gradient(45deg, rgba(224, 37, 206, 0.2), rgba(74, 237, 82, 0.1), rgba(189, 36, 230, 0.2), rgba(224, 37, 206, 0.2)); display: flex; flex-direction: column; justify-content: center; }

.introducao-card .tft { position: relative; margin: auto; width: 400px; height: 400px; z-index: 1; }

.introducao-card .introducao-article { position: relative; display: flex; flex-direction: row; align-items: center; padding: 10px 10px; justify-content: space-between; background: rgba(255, 255, 255, 0.06); }

.introducao-card .introducao-article article { display: flex; flex-direction: column; justify-content: center; }

.introducao-card .introducao-article article h4 { font-size: 20px; }

.introducao-card .introducao-article article p { font-weight: 400; font-size: 16px; color: rgba(255, 255, 255, 0.7); }

.introducao-card .introducao-article article .preco { display: flex; flex-direction: row; align-items: center; font-weight: 600; font-size: 20px; }

.introducao-card .introducao-article article .preco img { right: 5px; padding-top: 5px; width: 50px; }

.introducao-card .introducao-article .button { font-weight: 600; font-size: 18px; max-width: 219px; }

.introducao-card .rank { display: relative; left: 50px; top: -450px; --borderWidth: 2px; }

.introducao-card .rank h1 { font-size: 16px; font-weight: 600; }

@media (max-width: 1100px) { .introducao-card .rank { left: 10px; top: -480px; }
  .introducao-card .introducao-article .button { font-weight: 600; font-size: 18px; max-width: 120px; }
  .introducao-card .preco { font-size: 15px !important; } }

.relatorio { height: 210px; display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 100px; background-image: linear-gradient(45deg, rgba(224, 37, 206, 0.2), rgba(74, 237, 82, 0.1), rgba(189, 36, 230, 0.2), rgba(224, 37, 206, 0.2)); overflow-y: hidden; -webkit-overflow-scrolling: touch; overflow: -moz-scrollbars-vertical; }

.relatorio::-webkit-scrollbar { width: 243px; height: 4px; background: rgba(217, 217, 217, 0.2); }

.relatorio::-webkit-scrollbar-thumb { background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%); }

.relatorio .card-relatorio { display: flex; flex-direction: column; align-items: center; text-transform: uppercase; }

.relatorio .card-relatorio span { font-family: "Jura", sans-serif; font-weight: 700; font-size: clamp(20px, 5vw, 50px); line-height: 59.15px; }

.relatorio .card-relatorio p { font-family: "Inter", sans-serif; font-size: clamp(16px, 2vw, 20px); line-height: 24.2px; }

.relatorio .card-relatorio:not(:last-child)::after { content: ''; width: 2px; height: 100px; position: absolute; background: linear-gradient(138.34deg, rgba(224, 37, 206, 0.7) -11.36%, rgba(74, 237, 82, 0.7) 51.55%, rgba(189, 36, 230, 0.7) 113.16%); opacity: 50%; margin-left: 250px; }

@media (max-width: 850px) { .relatorio { margin-top: 280px !important; justify-content: flex-start; position: relative; top: 20px; background-image: none; padding: 20px; gap: 0px; height: 50px; }
  .relatorio .card-relatorio { flex: 1; min-width: 100%; text-align: center; position: relative; top: -20px; }
  .relatorio .card-relatorio::after { display: none; }
  .relatorio .card-relatorio span { font-family: "Jura", sans-serif; font-weight: 700; font-size: 40px; line-height: 47.32px; }
  .relatorio .card-relatorio p { font-family: "Inter", sans-serif; line-height: 19.36px; } }

@media (max-width: 433px) { .relatorio { margin-top: 350px !important; } }

@media (max-width: 410px) { .relatorio { margin-top: 390px !important; } }

@media (max-width: 361px) { .relatorio { margin-top: 400px !important; } }

.top-nft { display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 30px; padding-bottom: 30px; }

.top-nft h1 { font-weight: 600; font-size: clamp(30px, 5vw, 40px); line-height: 48.41px; }

.top-nft .top-nft-img { display: flex; align-items: center; justify-content: center; flex-direction: row; gap: 10px; }

.top-nft .top-nft-img img { width: clamp(250px, 20vw, 384px); max-width: 100%; height: auto; }

@media (max-width: 850px) { .top-nft .top-nft-img { flex-wrap: wrap; }
  .top-nft .top-nft-img img { width: 400px; } }

.colecionadores-titulo { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

.colecionadores-titulo h1 { font-weight: 600; font-size: clamp(25px, 5vw, 40px); line-height: 48.41px; }

.colecionadores-titulo .button { width: 154px; height: 41px; }

.container-tabela { padding-top: 40px; padding-right: 10px; font-size: clamp(15px, 5vw, 24px); font-weight: 500; line-height: 29.05px; }

.tabela-colecionadores { width: 100%; border-collapse: collapse; }

.tabela-colecionadores .tabela-header { border-bottom: 1px solid rgba(224, 37, 206, 0.7); }

.tabela-colecionadores span { font-weight: 500; font-size: 16px; color: #F7FC0E; padding-left: 60px; }

.tabela-colecionadores th { text-align: start; padding-bottom: 20px; }

.tabela-colecionadores td { padding: 15px; }

.tabela-colecionadores .flex { display: flex; flex-direction: row !important; align-items: center; }

.tabela-colecionadores .tft { margin-right: 30px; width: 48px; height: 48px; border-radius: 8px; }

@media (max-width: 850px) { .colecionadores-titulo h1 { font-size: 29px; }
  .colecionadores-titulo .button { display: none; }
  .container-tabela { padding-top: 40px; overflow-x: scroll; font-size: 20px; font-weight: 500; line-height: 16px; -webkit-overflow-scrolling: touch; overflow: -moz-scrollbars-vertical; /* Valores das palavras-chave */ scroll-behavior: auto; scroll-behavior: smooth; /* Valores globais */ scroll-behavior: inherit; scroll-behavior: initial; scroll-behavior: unset; }
  .container-tabela::-webkit-scrollbar { width: 243px; height: 4px; background: rgba(217, 217, 217, 0.2); }
  .container-tabela::-webkit-scrollbar-thumb { background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%); }
  .container-tabela .tabela-colecionadores { padding-top: 30px; padding-right: 10px; width: 650px; }
  .container-tabela .tabela-colecionadores .tabela-header { border-bottom: none; }
  .container-tabela .tabela-colecionadores span { padding-left: 40px; }
  .container-tabela .tabela-colecionadores td { padding: 10px; } }

@media (max-width: 650px) { .container-tabela { padding-top: 20px; font-size: 14px; line-height: 16px; }
  .container-tabela .tabela-colecionadores { padding-right: 10px; width: 650px; }
  .container-tabela .tabela-colecionadores span { padding-left: 10px; } }
